---
title: Southeast Conservation Adaptation Strategy
description: 'The dramatic changes sweeping the Southeastern United States - such as urbanization, competition for water resources, extreme weather events, sea-level rise, and climate change - pose unprecedented challenges for sustaining our natural and cultural resources. However, they also offer a clear opportunity to unite the conservation community around a shared, long-term vision for the future. The Southeast Conservation Adaptation Strategy (SECAS) is that vision.'
layout: default
---

<h1>Southeast Conservation Adaptation Strategy</h1>

<blockquote>SECAS brings together public and private organizations around a bold vision for the future of our region. We're connecting the lands and waters of the Southeast and Caribbean to support healthy ecosystems, thriving fish and wildlife populations, and vibrant communities. With a data-driven spatial plan and an ambitious regional goal, SECAS helps accelerate conservation action in the places where it will make the biggest impact.</blockquote>

<br><br>

<h2>From the blog</h2>

<ul class="blog-reel">
{% for post in site.posts limit: 3 %}
  <li>
    {{ if page.hero.name }}
    <figure>
      <img src="{{ site.baseURL }}/images/{{ post.hero.name }}" alt="{{ post.hero.alt }}">
      <figcaption>{{ post.hero.caption }}</figcaption>
    </figure>
    {{ endif }}
    <div class="blog-reel-content">
      <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
      <p>{{ post.excerpt }} <a href="{{ post.url }}">Read more...</a></p>
    </div>
  </li>
{% endfor %}
</ul>

<p>Visit the <a href="/blog">SECAS blog</a> for a full archive of posts.</p>