each result in results
  li.search-result
    - var permalink = result.url.replace('.html', '').trim();
    a(href=permalink)
      h2= result.title
    ul.result-tags
      each tag in result.tags
        li.tag= tag
    p= result.description
