<footer>
  <ul class="footer-links layout">
    <li><a href="https://lccnetwork.org/" target="_blank">Landscape Conservation Cooperative Network</a></li>
    <li><a href="http://southeastaquatics.net/" target="_blank">Southeast Aquatic Resources Partnership</a></li>
    <li><a href="http://www.seafwa.org/" target="_blank">Southeastern Association of Fish and Wildlife Agencies</a></li>
    <li><a href="mailto:{{ site.webmaster }}?subject=SecasSoutheast.org">Contact the Webmaster</a></li>
    <li><a href="/feed.xml" target="_blank">Subscribe</a></li>
  </ul>
</footer>
