<a href="#content" class="skip-to-content">Skip to Content</a>
<header class="main-header">
  <div class="hero-image parallax"></div>
  <h1><a href="{{ "/" | prepend: site.baseurl }}" class="site-title">Southeast Conservation Adaptation Strategy</a></h1>
  {% include nav.html %}
</header>
<p class="hero-image-caption"></p>
<div class="search-form">
  <form class="layout" autocomplete="off">
    <input type="search" placeholder="Search..." id="search-input">
  </form>
  <ul class="search-results"></ul>
</div>
