<a href="#content" class="skip-to-content">Skip to Content</a>
<header class="main-header {{ page.hero.headerClass }}">
  <div class="hero-image parallax" {{ if page.layout == 'post' }}style="background-image: url({{ site.baseurl }}/images/{{ page.hero.name }});"{{ endif }}></div>
  <h1 class="{{ page.hero.headerClass }}"><a href="{{ "/" | prepend: site.baseurl }}" class="site-title">Southeast Conservation Adaptation Strategy</a></h1>
  {% include nav.html %}
</header>
<p class="hero-image-caption"></p>
<div class="search-form">
  <form class="layout" autocomplete="off">
    <input type="search" placeholder="Search..." id="search-input">
  </form>
  <ul class="search-results"></ul>
</div>
