<div class="form-success layout" aria-hidden="true">
  <h2>You have successfully subscribed!</h2>
  <p>You will receive a &ldquo;Welcome New User&rdquo; email from GovDelivery that says you have created subscriber preferences for U.S. Fish &amp; Wildlife Service. This message comes from the SECAS newsletter email service.</p>
</div>
<form class="subscriber-form" accept-charset="UTF-8" method="post">
  <fieldset>
    <legend>Subscribe for updates</legend>
    <p>Sign up for the Southeast Conservation Adaptation Strategy (SECAS) monthly newsletter to read about the latest updates and opportunities to get involved!</p>
    <label for="email"><img class="required" src="https://content.govdelivery.com/images/required.gif" alt="Required" />Email Address</label>
    <input type="email" name="email" id="email" />
    <p class="error-message"></p>
    <button type="submit" name="submit" class="submit-button">Submit</button>
  </fieldset>
</form>