<form class="subscriber-form" action="https://public.govdelivery.com/accounts/USDOIFWS/subscribers/qualify" accept-charset="UTF-8" method="post">
  <input name="utf8" type="hidden" value="&#x2713;" />
  <input type="hidden" name="authenticity_token" value="271oAHo/emcbwcHbUqy7Snolf2Fs4nHQQvKbZ+DnZMe0KBsi4BwGztLtKSZ4ZhzVslJDjb78P625wpXZ84xqfw==" />
  <input type="hidden" name="topic_id" id="topic_id" value="USDOIFWS_124" />
  <fieldset>
    <legend>Subscribe for updates</legend>
    <p>To sign up for updates or to access your subscriber preferences, please enter your email address below.</p>
    <label for="email"><img class="required" src="https://content.govdelivery.com/images/required.gif" alt="Required" />Email Address</label>
    <input type="text" name="email" id="email" />
    <input type="submit" name="commit" value="Submit" class="form_button" />
  </fieldset>
</form>