<form class="subscriber-form" accept-charset="UTF-8" method="post">
  <fieldset>
    <legend>Subscribe for updates</legend>
    <p>Sign up for the Southeast Conservation Adaptation Strategy (SECAS) monthly newsletter to read about the latest updates and opportunities to get involved!</p>
    <label for="email"><img class="required" src="https://content.govdelivery.com/images/required.gif" alt="Required" />Email Address</label>
    <input type="email" name="email" id="email" />
    <p class="error-message"></p>
    <input type="submit" name="submit" value="Submit" class="submit-button" />
  </fieldset>
</form>