.blog-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 2rem 0;
  }
}

.blog-date {
  color: $grey-color;
  margin-top: -1rem;
}

.blog-reel {
  display: flex;
  flex-direction: column;
  margin: 0;

  > li {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    figure {
      flex: 1 1 40%;
      margin-right: 2rem;
    }

    .blog-reel-content {
      flex: 1 1 60%;
    }

    @media (min-width: 700px) {
      flex-direction: row;
    }
  }
}