.call-to-action {
  margin: 3rem 0;
  text-align: center;

  button,
  a {
    background: $brand-color;
    border: 3px solid darken($brand-color, 10);
    color: white;
    font-family: $base-font-family;
    font-size: 1.4em;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    transition: all 0.4s;

    &:hover {
      background: darken($brand-color, 10);
      border: 3px solid $brand-color;
      text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.6);
    }

    &:active {
      background: $brand-color;
      border: 3px solid darken($brand-color, 10);
      text-shadow: 3px 5px 2px rgba(0, 0, 0, 0.8);
    }
  }
}
