$max-width: 500px;

.subscriber-form {
  margin: 2rem auto;
  max-width: $max-width;

  input[type=email] {
    width: 100%;
  }

  button {
    background: $button-color;
    color: white;
    cursor: pointer;
    font-family: $base-font-family;
    font-size: 1.4em;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    transition: all 0.4s;

    &:hover {
      background: darken($button-color, 10);
      text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.6);
    }

    &:active {
      background: $button-color;
      text-shadow: 3px 5px 2px rgba(0, 0, 0, 0.8);
    }
  }
}

fieldset {
  transition: all .5s;

  &.complete {
    display: none;
    opacity: 0;
  }

  &:disabled {
    button {
      color: #bbb;
      background-color: #eee;
    }
  }
}

.form-success[aria-hidden=true] {
    background: $brand-color;
    color: white;
    display: none;
    font-weight: bold;
    height: 0;
    margin: auto;
    max-width: $max-width;
    opacity: 0;
    padding: 1rem 0;
    transform: translateY(-100%);
    transition: all .3s;

  &[aria-hidden=false] {
    display: block;
    height: auto;
    opacity: 1;
    transform: translateY(0%);
  }
}

.footer-links {
  list-style: none;
  text-align: center;

  .material-icons {
    color: $brand-color;
  }

  li {
    display: inline-block;

    &::after {
      content: ' | ';
    }

    &:last-child::after {
      content: '';
    }
  }
}
