.skip-to-content {
  @extend %sr-only;
}

.nav-menu {
  li {
    &:hover {
      svg {
        fill: lighten($brand-color, 25);
      }
    }
  }

  svg {
    display: block;
    fill: white;
    margin: auto;
    width: 38px;
  }
}

.hero-image.parallax {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  transform: translate3d(0, 0, 0);
  width: 100%;
}

.hero-image-caption {
  float: right;
  margin-right: 1em;
  text-align: right;
  width: 100%;
}

.main-header {
  height: 60vh;
  overflow: hidden;
  position: relative;
  z-index: 1000;

  h1 {
    position: relative;
    text-align: center;

    a {
      text-decoration: none;
    }

    @media (min-width: $break-sm) {
      padding-top: 1em;
    }
  }

  &.light-text {
    a.site-title {
      color: white;
      text-shadow: 1px 1px 2px black;
    }
  }

  &.dark-text {
    a.site-title {
      color: black;
      text-shadow: 1px 1px 2px white;
    }
  }
}

.main-nav {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

.nav-menu {
  list-style: none;
  margin: 0.5em auto;
  padding: 0 3%;
  text-align: center;

  li {
    display: inline-block;
    margin-right: 1.5rem;
    padding: 0;

    &:last-child {
      margin-right: 0;
    }

    .material-icons {
      display: block;
      margin: auto;
    }

    a {
      color: white;
      display: block;
      font-size: 1em;
      text-decoration: none;

      &:hover {
        color: lighten($brand-color, 25);
      }
    }

    @media (min-width: $content-width) {
      .material-icons {
        font-size: 2em;
      }

      a {
        font-size: 1.2em;
      }
    }
  }
}
