.sidebar {
  @media (min-width: 700px) {
    border: 2px solid darken($brand-color, 15);
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.8);
    float: right;
    max-width: 300px;
    padding: .5rem;
    margin-left: 1rem;
  }

  @media (min-width: 900px) {
    margin-right: -3rem;
    margin-left: 2rem;
  }
}