.staff-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 2rem 0;

  li.staff-member {
    display: flex;
    margin-bottom: 2rem;

    img {
      align-self: flex-start;
      margin-right: 1.5rem;
    }

    h3 {
      margin-top: 0;
    }
  }
}